{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<div class="container p-5 my-5 border"> 
    <h3>info page</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div class="notification is-danger">
                {{ messages[0]}}
            </div>
            </div>
    {% endif %}
    {% endwith %} 
 
<div class="btn-group btn-group-lg">
    <input type="button" value="go back!" class="btn btn-outline-dark" onclick="history.back()">
    <a href="/login" class="btn btn-outline-success" role="button">login</a>         
</div>

{% endblock %}
