{% extends "header.html" %} {% block content %}
<div class="container p-5 my-5 bg-light text-muted">
    <b>Welcome  {{ username }}</b>, currently <b>{{ xcount }}</b> desks are free...
    <br>User rights: <b>{{ profil }}</b> {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    </div>
    {% endif %} {% endwith %}
    <br>Site: <b>my bookings</b>
    <br><br>
    <div class="btn-group btn-group-lg">
        <a href="/" class="btn btn-outline-dark" role="button">logout</a>
        <a href="/dashboard" class="btn btn-outline-success" role="button">book</a>
        <a href="/showbookings" class="btn btn-success" role="button">bookings</a>
        <a href="/showusers" class="btn btn-outline-success" role="button">profile</a> {% if "admin" in profil %}
        <a href="/genqr" class="btn btn-outline-dark" role="button">qr-code</a>
 {% endif %}
    </div>
    <div class="container p-5 my-5 border">
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th>name</th>
                    <th>eamil</th>
                    <th>booking date</th>
                    <th>booking until</th>
                    <th>status</th>
                    <th>booking code</th>
                    <th>desk</th>
                    <th>remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for all in allbooking %} {% for user in userdetails %}
                    <td>{{ user.fname }} {{ user.lname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ all.booking_date }}</td>
                    <td>{{ all.validto }}</td>
                    <td>{{ all.booked }}</td>
                    <td>{{ all.bookingcode }}</td>
                    <td>{{ all.desk }}</td>
                    <td>
                        <a href="/deleteqr_get?booking_code={{ all.bookingcode  }}">remove</a>
                    </td>
                </tr>
                {% endfor %} {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}