{% extends "header.html" %} {% block content %}
<div class="container p-5 my-5 bg-light text-muted">
    <b>Welcome {{ username }}</b>, your desk was successfuly booked!
    <br><br>
    <div class="btn-group btn-group-lg">
        <a href="/logout" " class="btn btn-outline-dark " role="button ">logout</a>      
        <a href="/showbookings" class="btn btn-success" role="button">bookings</a>
    <a href="/showusers " class="btn btn-outline-success " role="button ">profile</a>
     </div>
<div class="container p-5 my-5 border "> 
<h4>details</h4> 
    {% for mybook in my_booking %}
                  <b>booking date: </b>{{ mybook.booking_date }}<br>
                  <b>booked until: </b>{{ mybook.validto }}<br>
                  <b>status: </b>{{ mybook.booked }}<br>
                  <b>booking code: </b>{{ mybook.bookingcode }}<br>
                  <b>desk: </b>{{ mybook.desk }}<br><br>
            {% endfor %}
            <a href="/remove " class="btn btn-outline-danger " role="button ">remove</a>
  {% endblock %}