{% extends "header.html" %}
{% block content %}

<div class="container p-5 my-5 bg-light text-muted">
  <b>Welcome  {{ username }}</b>, currently <b>{{ xcount }}</b> desks are free...
  <br>User rights: <b>{{ profil }}</b>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br><br>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            </div>
    {% endif %}
    {% endwith %}
    <br><br>
    <div class="btn-group btn-group-lg">
        <a href="/logout"" class="btn btn-outline-dark" role="button">logout</a>      
        <a href="/showbookings" class="btn btn-outline-success" role="button">dashboard</a>
        <a href="/showusers" class="btn btn-outline-success" role="button">my user</a>
        {% if "admin" in profil %}
        <a href="/genqr" class="btn btn-outline-dark" role="button">all user</a>
        <a href="/genqr" class="btn btn-outline-dark" role="button">all bookings</a>
      {% endif %}
         </div><br><br>
<form class="row g-3" action = "{{ request.path }}" method = "post">
    <div class="col-md-4">

        {% for all in my_users %}

      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="fname" placeholder="fname code" name="fname" value="{{ all.fname }}" required>
        <label for="fname">first name</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="lname" placeholder="lname code" name="lname" value="{{ all.lname }}" required>
        <label for="fname">last name</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="email" placeholder="email" name="email" value="{{ all.email }}" required>
        <label for="email">email</label>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-4">
    <div class="form-floating mb-4 mt-4">
      <button class="btn btn-outline-success" value=submit type="submit">change</button>
    </div>
    </div>
  </form>
</div>

  {% endblock %}


</body>
</html>