{% extends "header.html" %} {% block content %}

<div class="container p-5 my-5 bg-light text-muted">
    <b>Welcome  {{ username }}</b>, currently <b>{{ xcount }}</b> desks are free...
    <br>User rights: <b>{{ profil }}</b> {% with messages = get_flashed_messages() %} {% if messages %}
    <br><br>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    </div>
    {% endif %} {% endwith %}
    <br>Site: <b>qr-code</b>
    <br><br>
    <div class="btn-group btn-group-lg">
        <a href="/" class="btn btn-outline-dark" role="button">logout</a>
        <a href="/dashboard" class="btn btn-outline-success" role="button">book</a>
        <a href="/showbookings" class="btn btn-outline-success" role="button">bookings</a>
        <a href="/showusers" class="btn btn-outline-success" role="button">profile</a> {% if "admin" in profil %}
        <a href="/genqr" class="btn btn-dark" role="button">qr-code</a>
{% endif %}
    </div><br><br>
    <form class="row g-3 " action="{{ request.path }}" method="post">
        <div class="col-md-4 ">
            <div class="form-floating mb-3 mt-3 ">
                <input type="text " class="form-control " id="qrcode1" placeholder="QR code " name="qrcode1" required>
                <label for="qr code ">qr code</label>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="form-floating mb-4 mt-4 ">
                <button class="btn btn-success " value=submit type="submit ">create</button>
            </div>
        </div>
    </form>

    <div class="btn-group btn-group-lg ">


        <div class="container ">
            <div class="row ">


                {% for all in files %} {% if "1 " in all.booking_stat %}
                <div class="col-md-4 mt-3 col-lg-3 bg-secondary text-white " style="width:300px ">
                    <img class="card-img-top " src="static/{{ all.filename }} " alt="{{ all.filename }} " style="width:100% ">
                    <div class="card-body ">
                        <center>
                            <h5 class="card-title ">{{ all.desk }} - booked</h5>
                        </center>
                    </div>
                </div>
                {% else %}
                <div class="col-md-4 mt-3 col-lg-3 " bg-dark text-white " style="width:300px ">
            <img class="card-img-top " src="static/{{ all.filename }} " alt="{{ all.filename }} " style="width:100% ">
            <div class="card-body ">
                <center>
                    <h5 class="card-title ">{{ all.desk }}</h5>
                    <a href="/deletedesk?desk_code={{ all.desk  }}">delete</a>
                </center>
            </div>
    </div>
    {% endif %} {% endfor %}

</div>
</div>
</div>
</div>

{% endblock %}


</body>

</html>