{% extends "header.html" %}
{% block content %}


<div class="container p-5 my-5 bg-light text-muted">
currently are <b>{{ xcount }}</b> desks are free...
<br><br>
<div class="btn-group btn-group-lg">
    <a href="/login" class="btn btn-outline-success" role="button">login</a>
    <a href="/register" class="btn btn-outline-success" role="button">new account</a>
    </div>
    <br><br>
 

{% for booked in xresult_booked %}
{{ booked.desknr }}
{% endfor %}

    <div class="btn-group btn-group-lg">


        <div class="container">
          <div class="row">
        
            {% for all in files %}
            {% if "1" in all.booking_stat %}
                <div class="col-md-4 mt-3 col-lg-3 bg-secondary text-white" style="width:300px">
                  <img class="card-img-top" src="static/{{ all.filename }}" alt="{{ all.filename }}" style="width:100%">
                  <div class="card-body"><center>
                    <h5 class="card-title">{{ all.desk }} - booked</h5></center>
                    </div>
                    </div>
                    {% else %}    
                    <div class="col-md-4 mt-3 col-lg-3" bg-dark text-white" style="width:300px">
                      <img class="card-img-top" src="static/{{ all.filename }}" alt="{{ all.filename }}" style="width:100%">
                      <div class="card-body"><center>
                        <h5 class="card-title">{{ all.desk }}</h5></center>
                        </div>
                        </div>
                        {% endif %}
            {% endfor %}
        
        
        </div>
        </div>
        </div>
        </div>
        

{% endblock %}
