{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<b>your desk {{ desk }} was booked successfuly, enjoy!</b>
<div class="container p-5 my-5 border"> 
        <div class="btn-group btn-group-lg">      
            <a href="/login" class="btn btn-outline-success" role="button">login</a>         
        </div>
{% endblock %}
