{% extends "header.html" %} {% block content %}
<div class="container p-5 my-5 bg-light text-muted">
    <b>Welcome  {{ username }}</b>, currently <b>{{ xcount }}</b> desks are free...
    <br>User rights: <b>{{ profil }}</b> {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    </div>
    {% endif %} {% endwith %}
    <br>Site: <b>my profile</b>
    <br><br>
    <div class="btn-group btn-group-lg">

        <a href="/" class="btn btn-outline-dark" role="button">logout</a>
        <a href="#" class="btn btn-success" role="button">book</a>
        <a href="/showbookings" class="btn btn-outline-success" role="button">bookings</a>
        <a href="/showusers" class="btn btn-outline-success" role="button">profile</a> {% if "admin" in profil %}
        <a href="/genqr" class="btn btn-outline-dark" role="button">qr-code</a>
 {% endif %}
    </div>

    <div class="container p-5 my-5 border">
        <form method="POST">
            <label>free desks: </label>
            <select id="desk" name="desk" class="form-select" value="{{ request.form['desk'] }}">
      {% for desk in desknr %}
          <option value="{{ desk['desk'] }}">{{ desk['desk'] }}</option>
      {% endfor %}
      </select>
            <br>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="validto" name="validto" value="1" checked> full day (8h)
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="validto" name="validto" value="5"> half day (4h)
            </div><br>
            <p><input type="submit" class="btn btn-success" value="book me"></p>
        </form>
    </div>
    {% endblock %}