{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h3>registration page</h3>
currently <b>{{ xcount }}</b> desks are free...
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br><br>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            </div>
{% endif %}
{% endwith %}
<br><br>
<div class="btn-group btn-group-lg">
  <a href="/" class="btn btn-outline-dark" role="button">home</a>
  <a href="/login" class="btn btn-outline-success" role="button">login</a>
  </div>
<div class="container p-5 my-5 border"> 
<form class="row g-3" action = "{{ request.path }}" method = "post">
    <div class="col-md-4">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="lfname" placeholder="Enter First name" name="fname" required>
            <label for="email">First Name</label>
    </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="lname" placeholder="Enter Last name" name="lname" required>
            <label for="email">Last Name</label>
    </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating mb-3 mt-3">
            <input type="password" class="form-control" id="pwd1" placeholder="Enter password" name="pwd1" required>
            <label for="password">Password</label>
          </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3 mt-3">
            <input type="password" class="form-control" id="pwd2" placeholder="Enter password" name="pwd2" required>
            <label for="password">Password (again)</label>
        </div>
      </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input is-invalid" type="checkbox" value="v123456" id="agb" name="agb" equired>
        <label class="form-check-label" for="agb">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-outline-success" value=submit type="submit">register</button>
    </div>
  </form>
</div>
<div >
{% endblock %}
