{% extends "header.html" %}
{% block content %}

<div class="container p-5 my-5 bg-light text-muted">

    <b>remove booking</b>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br><br>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            </div>
    {% endif %}
    {% endwith %}

<form class="row g-3" action = "{{ request.path }}" method = "post">
    <div class="col-md-4">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="qr" placeholder="QR code" name="qr" required>
        <label for="booking code">booking code</label>
      </div>
    </div>
    <div class="col-md-4">
    <div class="form-floating mb-4 mt-4">
      <button class="btn btn-success" value=submit type="submit">remove</button>
    </div>
    </div>
  </form>

  <div class="btn-group btn-group-lg">
           
   
  
  </div>
  
</div>

  {% endblock %}


</body>
</html>