{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
The desk <b>{{ deskme}} </b>is booked by <b>{{ fname }} {{ lname }} - {{ email }} </b>until <b>{{ bookeduntil }}</b>!
<p><br>
<img src="/static/53961969-computer-schreibtisch-auf-weißem-hintergrund-arbeitsplatz-cartoon-business-konzept.webp" class="rounded-circle" alt="Cinque Terre" width="304" height="236"> 
</p>
<div class="container p-5 my-5 border"> 
        <div class="btn-group btn-group-lg">      
            <a href="/" class="btn btn-outline-dark" role="button">home</a>   
            <a href="/login" class="btn btn-outline-success" role="button">login</a>         
        </div>
{% endblock %}

