{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <br><br>
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <div class="notification is-danger">
              {{ messages[0] }}
          </div>
          </div>
  {% endif %}
  {% endwith %}

<div class="btn-group btn-group-lg">
  <a href="/login" class="btn btn-outline-success" role="button">login</a>
</div>
<div class="container p-5 my-5 border"> 
   you will now book desk <b> {{ deskme }} </b>
    <br><br>
    <form method="POST">
        <div class="form-check">
            <input type="radio" class="form-check-input" id="validto" name="validto" value="1" checked> full day (8h)
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="validto" name="validto" value="5"> half day (4h)
          </div>
          <br>
          <label>e-mail address: <b style="color:red"> {{ x_error }}</b></label>
        <input name="email" value="{{  request.form['email'] }}" class="form-control" required>  
        <br>    
        <p><input type="submit" class="btn btn-success" value="book"></p>
    </form>   
</div>
{% endblock %}