{% extends "header.html" %} {% block content %}
<div class="container p-5 my-5 bg-light text-muted">
    <b>Welcome  {{ username }}</b>, currently <b>{{ xcount }}</b> desks are free...
    <br>User rights: <b>{{ profil }}</b> {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    </div>
    {% endif %} {% endwith %}
    <br>Site: <b>my user</b>
    <br><br>
    <div class="btn-group btn-group-lg">
        <a href="/" class="btn btn-outline-dark" role="button">logout</a>
        <a href="/dashboard" class="btn btn-outline-success" role="button">book</a>
        <a href="/showbookings" class="btn btn-outline-success" role="button">bookings</a>
        <a href="/showusers" class="btn btn-success" role="button">profile</a> {% if "admin" in profil %}
        <a href="/genqr" class="btn btn-outline-dark" role="button">qr-code</a>
 {% endif %}
    </div>
    <br>
    <div class="container p-5 my-5 border">
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>register date</th>
                    <th>register time</th>
                    <th>edit</th>
                    <th>remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for all in my_users %}

                    <td>{{ all.id }}</td>
                    <td>{{ all.fname }} {{ all.lname }}</td>
                    <td>{{ all.email }}</td>
                    <td>{{ all.xdate }}</td>
                    <td>{{ all.xtime }}</td>
                    <td> <a href="/edit?{{ all.xcode  }}">edit</a></td>
                    <td>
                        {% if not "admin@localhost" in email %}
                        <a href="/deleteuser?register_code={{ all.xcode  }}">remove</a> {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}