{% extends "header.html" %}
{% block content %}


<div class="container p-5 my-5 bg-light text-muted">
currently are <b>{{ xcount }}</b> desks are free...
<br><br>
<div class="btn-group btn-group-lg">
    <a href="/login" class="btn btn-outline-success" role="button">login</a>
    <a href="/register" class="btn btn-outline-success" role="button">new account</a>
    </div>
    <br><br>
    TEST-QR-CODES

    <table class="table table-borderless">
        <tbody>
            

                    {% for all in files %}

                    <tr>
                              <td><div class="card bg-dark text-white" style="width:200px"><img class="card-img-top" src="static/{{ all.filename }}" alt="{{ all.filename }}" style="width:100%">{{ all.filename }}</div></td>
                        
                            <tr>
                    {% endfor %}
                </tr>
            </tbody>
          </table>

                
{% endblock %}
